
.toBodyRes{
    width: 100vw;
    background-color: #151515;
    margin-top: 0em;

}
/* todo */
@media screen and (max-width:1024px){
       /* hero */
    .salud{
     justify-content: center;
    }
    .etc{
        text-align: center;

    }
    .arrowPic{
        text-align:center;
        margin: auto;
     
      
    }
    .boxarr{
        display: block;
        margin: auto;
    }
   
    .pro{
        text-align:center;
        margin: auto;
        margin-right: 0em;
    }
    .prooo{
        text-align:center;
        margin: auto;
        margin-left: 0em;
    }
 }
/* solo celu */
 @media screen and (max-width:768px){
   
   
    .tabletInit{
        display: none;
       }
     
 }

 /* solo ablet */
 @media screen and (min-width:767px){
   .fotoSalud{
    display: none;
   }
   
   .tabletInit{
    display: flex;
    justify-content: space-around;
   }
   .etc{
    text-align: start;

}

    
}