.Todoo{
    display: flex;
    
}
@media screen and (min-width:1025px){
    .Meen{
        display: none;
    }
    
}

    @media screen and (max-width:1024px){
       
        .toBody{
        display: none;
    }
    }