/*punto margin top en responsive*/
.puntito{
    color:#9A5BFF;
    margin-top: 1.52em;
}
.hola{
    color: white;
}
.salud{
    display: flex;
}

@media screen and (min-width:767px){
   
    
        .hola{
            line-height: 1.2em;
 }
 .puntito{

    margin-top: 1.06em;
 }
 
}
